:root {
	--background: white;
	--foreground: black;
	--sidebar-button-background: black;
	--sidebar-button-foreground: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	overflow: hidden;
	height: 100%;
	background-color: var(--background);
	color: var(--foreground);
	font-family: 'Barlow', sans-serif;
}
