@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/Barlow-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Barlow';
	font-style: italic;
	font-weight: 400;
	src: url('/assets/fonts/Barlow-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/Barlow-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	src: url('/assets/fonts/Barlow-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Barlow';
	font-style: italic;
	font-weight: 700;
	src: url('/assets/fonts/Barlow-BoldItalic.ttf') format('truetype');
}
